/* ==========================================================================
   main css --- chelseamiller
   ========================================================================== */

body{
	margin:0;
	padding:0;
	font-weight:400;
	color:black;
	font-family: Avenir, Helvetica, sans-serif;
	background-color:#ffffff;
	height:100%;
	display:block;
	}

/* ==========================================================================
   Navigation
   ========================================================================== */

.exterior{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start;
	background-color:#fcfcfc;
	width:100vw
}

.navigation-exterior{
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;background:hsla(0,0%,100%,.95);
	border-bottom:1px solid #eaedf1;
	width:100vw;
	height:50px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:1000
}

.navigation-exterior,.navigation-interior{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center
}

.navigation-interior{
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
	width:100%;
	margin-left: 14.5%;
	margin-right: 15%;

}

.navigation-links{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-flow:row nowrap;
	-ms-flex-flow:row nowrap;
	flex-flow:row;
	-webkit-box-pack:start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack:start;
	justify-content:flex-start;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	list-style-type: none;
	padding-top: 10px;

}

.navigation-link{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 12px;
	color: #626262;
	letter-spacing: 2.5px;
	list-style-type: none;
	text-decoration: none;
	padding:8px;

}

.navigation-link:hover{
	color:#FF7A6B;
	list-style-type: none;
	text-decoration: none;
	text-decoration-line: underline;
	text-decoration-line: double;
  	text-decoration-color: #FF7A6B;
}

#title{
	display:inline;
	text-decoration: none;
}

#title a{
	text-decoration: none;
	color: #626262;
}

#title a:visited{
	text-decoration: none;
	color: #626262;
}
#title a:hover{
	text-decoration: none;
	color: #809bce;
}


/* ==========================================================================
   Interior - Index / Portfolio
   ========================================================================== */
#splash{
	background-color: white;
	width:100%;
	margin-top: 3.5%;
	/*background: url(../images/orange.png) no-repeat center center fixed; */
}



#splash h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 4em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}

#splash h2{
	font-family: Avenir-Light, Helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	margin-top: -1%;
	margin-bottom: 5%;
	max-width:75%;
	color:#FF7A6B;
}


#portfolio h2{
	padding-top: 2%;
	font-family: Avenir, Helvetica, sans-serif;
	font-size:3em;
	text-align: center;
	color:gray;
	margin-bottom: -2%;
}

.port_project {
	padding-bottom: 25px;
	padding-top: 10px;
	background-color: #f9ffff;
	text-align: center;
	width:100%;
	margin:auto;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 40px;
	display:block;
}


.port_project h3{
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size:2em;
	text-align: center;
	letter-spacing: 10.5px;
	color:#626262;
}

.port_project h4{
	font-family: Avenir-Light, Helvetica, sans-serif;
	font-size:1.25em;
	text-align: center;
	/*color:#FF7A6B;*/
	color:#626262;
	padding-top: 15px;
	padding-bottom: 15px;
	max-width:90%;
	margin:auto;
}

.port_project p{
	font-size: 10px;
}

.port_project img{
	max-width:60%;
	margin:auto;

}

.port_project:hover h3{
	color:#FF7A6B;
}

.port_project:hover h4{
	color:#FF7A6B;
}

/* ==========================================================================
   Interior - About
   ========================================================================== */

#about{
	padding-bottom: 50px;
/*	padding-top: 50px;*/
	width:100%;
	text-align: center;
/*	background-color: #FF7A6B;*/
}

#about h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 4em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}


#about h2{
	color:white;
	margin-top: 0%;
	margin-bottom: 2%;

}

#about p{
	color:#626262;
	font-size: 16px;
	width:55%;
	text-align: left;
	margin: auto;
}


/* ==========================================================================
   Interior - Resume
   ========================================================================== */

#resume{
	width:100%;
}

#resume h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 4em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}

#resume img{
	margin-top:10%;
	display:block;
	width:auto;
	min-width:100px;
	max-width:70%;
	margin:auto;
	margin-bottom:50px;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 1px;
}

/* ==========================================================================
   Portfolio Body
   ========================================================================== */

.portfoliobody {
	color:#626262;
    font-family: Avenir, Helvetica, sans-serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.58;
    letter-spacing: -.003em;
    width: 100%;
    margin: auto;
}

.portfoliobody h2{
	width: 55%;
	margin:auto;
	text-align: left;
	color:#FF7A6B;
	margin-bottom:30px;
	font-size: 1.75em;
	text-transform: uppercase;
}

.portfoliobody h3{
	width: 55%;
	margin:auto;
	text-align: left;
	color:#FF7A6B;
	margin-bottom:15px;
	font-size: 1.15em;
	font-style: italic;
	font-weight: 600;
}

.portfoliobody h4{
	width: 55%;
	margin:auto;
	text-align: left;
	color:#626262;
	margin-top: 50px;
	font-size: 1.15em;
	font-weight: 600;
}

.portfoliobody p{
	width: 55%;
	margin:auto;
	text-align: left;
	font-size: 1em;
	color:#626262;
	margin-top:10px;
	margin-bottom:50px;
}

.portfoliobody ol{
	width: 55%;
	margin:auto;
	text-align: left;
	font-size: 1em;
	color:#626262;
	margin-bottom:50px;
	margin-top:-35px;
}

.portfoliobody ul{
	width: 55%;
	margin:auto;
	text-align: left;
	font-size: 1em;
	color:#626262;
	margin-bottom:50px;
	margin-top:-35px;
}

.portfoliobody img{
	text-align:center;
	width:55%;
	display:block;
	margin:auto;
	margin-top:35px;
	margin-bottom:50px;
}
/* ==========================================================================
   Munger Events
   ========================================================================== */

.portfoliobody .summary{
	background-color: white;
	padding-bottom: 50px;
}

.portfoliobody .summary h1{
	padding-top: 80px;
	font-family: Avenir-Heavy, Helvetica, sans-serif;
	font-size: 3.15em;
	text-align: center;
	color:#FF7A6B;
	letter-spacing: 10.5px;
}

.portfoliobody .summary h2{
	font-weight: 100;
	font-size: 1.15em;
	text-align: center;
	margin: auto;
	margin-top: -1%;
	color:#626262;
	text-transform: none;
}

.portfoliobody .summary img{
	text-align:center;
	width:600px;
	display:block;
	margin:auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.portfoliobody .summary p{
	width: 55%;
	margin:auto;
	text-align: left;
	font-size: 1em;
	color:#626262;
}


.portfoliobody .gray{
	background-color: #F3F3F3;
	padding-top:50px;
	padding-bottom: 50px;
}

.portfoliobody .white{
	background-color: white;
	padding-top:50px;
	padding-bottom: 50px;
}




.portfoliobody .gray .caption {
	font-size: 12px;
}

.portfoliobody .white .caption {
	font-size: 12px;
}


#personaphotos img{
	display:block;
	max-width:55%;
	margin: auto;
	margin-bottom:60px;

}

#maestropersonaphotos img{
	display:block;
	max-width:60%;
	margin-bottom: -3%;
	margin: auto;

}

#sketchphotos img{
	display:block;
	max-width:55%;
	margin: auto;
	margin-bottom:60px;

}

.white .vid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border:solid;
    border-width: 1px;
    border-color: #F3F3F3;

}


#protoiframe{
	margin-top:-170px;
	margin-bottom:-160px;
	margin-left:10%;

}

#backbike{
	max-height:400px;
}




#moreprojects{
	width:100%;
	background-color: #f4f4f4;
	padding-bottom: 5%;
}

.vid{
	display:block;
	max-width:70%;
	margin:auto;
	margin-top: 3%;
/*	margin-bottom: 2%;*/
}



#opportunity #charttitle{
	font-size: 10px;
	margin:auto;
	text-align: center;
}



/* ==========================================================================
   Footer
   ========================================================================== */

#footer{
	padding-top: 10px;
	width:100vw;
	display:block;
	text-align: center;
	position:relative;
	height:120px;
	bottom:0;
	right:0;
	left:0;
	background-color: white;
	border-top:1px solid #eaedf1;
}

#footer p{
	padding-right:3%; 
	color:#626262;
}

#footlist li {
	display:inline-flex;
	list-style-type: none;
	padding: 10px 35px 10px 0px;
}


#footlist i{
	color:#626262;
	text-align: center;
}

#footlist i:hover{
	color:#FF7A6B;
}

#contact b{
	font-size: 1.2em;
}

a:hover{
	text-decoration: none;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


/*@media only screen and (min-width: 768px){
	.port_project{
		display:inline;
		width:30%;
		}

}*/


@media only screen and (min-width: 1000px){

	.port_project img{
		max-width: 600px;
	}

	#resume img{
		max-width: 50%;
	}

	.portfoliobody .fbtable{
		display:table;
		width:55%;
		margin:auto;
	}

	.portfoliobody .fbimg{
		width:300px;
    	display: table-cell;
    	vertical-align: middle;
 /*   	border:solid;*/
    	margin-left:auto;
    }

    .portfoliobody .fbp{
	    display: table-cell;
	    vertical-align: middle;
	    /*width:30%;*/
	    /*border:solid;*/
	    padding-left:30px;
    }

}

}

/*
@media only screen and (max-width: 768px){
	#footer{
		padding-left: 10px;
	}
	#about{
		margin-top: 60px;
	}
}

