html {
	background: white;
	background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));	
	background: url('../images/background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.head{
	border-style:solid;
	border-color: white;
	border-width: .5px;
	margin-left: auto;
    margin-right: auto;

}


#myname {
	font-family: Avenir-Black;
	font-size: 16px;
	letter-spacing: 8px;
	line-height: 95%;
	text-align: center;
}


#myname a{
	text-decoration: none;
	color: #414141;
/*	background:rgba(0,0,0,.4);*/
}

/*These relate to the styling of the nav bar*/


#homenavlist{
	width: 100%;
	display:inline-block;
	text-align: center;
	margin:1px;

}

#homenavlist li {
	font-family: Avenir-Heavy;
	font-size: 14px;
	color: #626262;
	letter-spacing: 1.5px;
	list-style-type: none;
	display: inline-block;
	
}



#homenavlist a{
	text-decoration: none;
	color: #414141;
	padding:3px;
	display: inline-block;
}

#homenavlist a:hover{
	padding:4px;
	color:white;
	background:#414141;
	border-style:solid;
	border-color: white;
	border-width: .5px;
}

#currentpage a{
	text-decoration: none;
	text-transform: uppercase;
	color:white;
	background:#414141;
/*	border-style: solid;
	border-color: rgba(255, 0, 131,.5);  ;
	border-width:3px;*/
}

/*footer {
	display:block;
	text-align: center;
	position:fixed;
	height:80px;
	bottom:0;
	right:0;
	left:0;
	background:rgba(255,255,255,0.8);
}


#footlist li {
	display:inline;
	list-style-type: none;
	padding-right: 3%;
}

.socialIcons{
	height:1.5em;
}*/