.index {
	background: white;
	background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));	
	background: url('../images/newyork.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*This is everything in the header!*/
header {
	text-align: center;
/*	position:fixed;
	right:0;
	left:0;
	background:rgba(255,255,255,0.2);*/
}

.pages header{
	background:url('../images/newyork.jpg');
	background-size:50%;
	padding:1%;

}

/*Everything here relates to the styling of my name*/
#name {
	font-family: 'Montserrat', serif;
	font-size:2em;
}

#name a{
	color:white;
	text-decoration: none;
}

#landname {
	font-family: 'Montserrat', serif;
	font-size: 4em;
	color:black;
}

#landname a{
	text-decoration: none;
	color:white;
	background:rgba(0,0,0,.4);
}

/*These relate to the styling of the nav bar*/
#homenavlist li {
	display:inline;
	text-decoration: none;
	padding-right: 5%;
	font-family: 'Montserrat', serif;
	font-size:.8em;
	margin-bottom: 20%;
}

#homenavlist a{
	text-decoration: none;
	color:white;
	border-style:solid;
	border-color: white;
	border-width: 1px;
	padding:3px;
}

#homenavlist a:hover{
	background-color:white;
	padding:8px;
	color:black;
}

#intro {
	align: center;
	font-family: 'Raleway', serif;
	font-size:1.5em;
	color:white;

}


/*Body stuff*/
.myportrait {
	display:none;
}

.center {
	align:center;
}

/*Down here we've got the footer styling*/
#footlist li {
	display:inline;
	list-style-type: none;
	padding-right: 5%;
}

#footlist a:hover{
	background:rgba(255, 0, 131,.5);
	padding: 20px 1px 1px 1px;
	border-radius: 10px;
}


.socialIcons{
	height:2em;
}



#copyright {
	font-size:.7em;
}

footer {
	text-align: center;
	position:fixed;
	bottom:1%;
	right:0;
	left:0;
	background:rgba(255,255,255,0.8);
}


@media only screen and (min-width: 768px){
	.myportrait{
		display:block;
		height:300px;
	}
}

