<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Chelsea Miller | UX Designer</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Montserrat">
     <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Raleway">
     <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond">

</head>
<body class="index">
	<header>
		<h1 id="landname"><a href="base.html">chelsea miller | ux designer</a></h1>
		<div>
			<nav id="navcontainer">
			<ul id="homenavlist">
				<li id="currentpage"><a href="index.html">portfolio</a></li>
				<li><a href="resume.html">resumé</a></li>
				<li><a href="aboutme.html">about</a></li>
			</ul>
			</nav>
		</div>
	</header>

	<div align="center">
	<span id="intro">
	<div class="myportrait">
	<img class="myportrait" src="images/MyPortrait.png" alt="">
	</div>
	</span>
	</div>


    <footer class="footer">
    	<ul id="footlist">
			<li><a href="https://www.linkedin.com/in/millerchelsealauren" target="_blank"><img class="socialIcons" src=images/liLogo.png alt="My LinkedIn Profile" onmouseover="this.src='images/wliLogo.png'" onmouseout="this.src='images/liLogo.png'"></a></li>

			<li><a href="https://www.instagram.com/millerchelsea/" target="_blank"><img class="socialIcons" src=images/instagramLogo.png alt="My Instagram Profile" onmouseover="this.src='images/winstagramLogo.png'"  onmouseout="this.src='images/instagramLogo.png'"></a></li>
			
			<li><a href="http://www.github.com/ajarnchelsea" target="_blank"><img class="socialIcons" src=images/githubLogo.png alt="My Github Profile" onmouseover="this.src='images/wgithubLogo.png'" onmouseout="this.src='images/githubLogo.png'"></a></li>


		</ul>
		<p id="copyright">Coded by Chelsea Miller &copy; 2016</p>
    </footer>		

</body>
</html>