html {
    background:rgba(0,0,0,.8);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*This is everything in the header!*/
header {
	text-align: center;
/*	position:fixed;
	right:0;
	left:0;
	background:rgba(255,255,255,0.2);*/
}

.pages header{
	background:url('../images/newyork.jpg');
	background-size:110%;
	padding:.3%;
	border-style:solid;
	border-color: white;
	background:rgba(0,0,0,.5);

}

/*.pages {
	background:#D3D3D3;
}*/

/*Everything here relates to the styling of my name*/


#landname {
	font-family: 'Futura', sans-serif;
	font-size: 1.5em;
	font-weight: 100px;
	display: inline;
	float:left;
	padding:0px 120px;
}

#landname a{
	text-decoration: none;
	color:rgba(255,255,255,.5);
	display: inline;
	font-weight: bold;
	float:left;
/*	background:rgba(0,0,0,.4);*/
}

/*These relate to the styling of the nav bar*/
#homenavlist {
	padding:22px 120px;
}

#homenavlist li {
	display:inline;
	text-decoration: none;
	padding-right: 2%;
	font-family: 'Futura', sans-serif;
	font-size:.9em;
	margin-bottom: 20%;
	float:right;
}

#homenavlist a{
	text-decoration: none;
	color:rgba(255,255,255,.5);
	padding:3px;
}

#homenavlist a:hover{
/*	background-color:white;*/
	color:white;
}

#currentpage a{
	text-decoration: none;
	text-transform: uppercase;
	color:white;
/*	background:white;
	border-style: solid;
	border-color: #5D252A;
	border-width:3px;*/
	padding:4px;

}


#intro {
	align: center;
	font-family: 'Helvetica Neue', sans-serif;
	font-size:1.2em;
	color:#5D252A;
	display: block;

}


/*Body stuff*/
body{
	position:relative;
/*	padding:1em;*/
}
.myportrait {
	display:none;
	align:center;
}

.center {
	align:center;
}

#intro {
	margin:100px;
}

.bodytxt {
	display:table-cell;
	width:39%;
	padding:10px;
	color:white;
	align:center;
	font-family: 'Raleway', sans-serif;
	font-size:1em;
	background:rgba(0,0,0,.8);
}


#map {
	width:100%;
	padding:10px;
	height:400px;
	align:center;
	float:center;
}

body h1{
	font-size: 2em;
	text-align: center;
}

body h2{
	font-size:1em;
}

body p{
	font-size:1em;
}

.resumesectiontitle{
	font-size:1.5em;
	font-weight:bold;
	text-decoration: underline;
}


.resumesub1{
	font-size: 1.2em;
}

.resumesub2{
	font-size: 1em;
}

.resumedesc{
	font-size: .8em;
}


#photogallery{
	text-align: center;
	line-height: 0;
	-webkit-column-count: 1;
	-webkit-column-gap:   10px;
	-moz-column-count:    1;
	-moz-column-gap:      10px;
	column-count:         1;
	column-gap:           10px; 
}

#photogallery img{
	margin-top:2%;	
	margin-left: auto;
	margin-right:auto;
}

#photogallery a{
	text-decoration: none;
	color:white;
	font-family: 'Raleway', sans-serif;
}

.thumb{
	display:inline-block;
	width:90%;
	height:auto;
}



/*Down here we've got the footer styling*/
#footlist li {
	display:inline;
	list-style-type: none;
	padding-right: 3%;
}

/*#footlist a:hover{
	background:white;
	padding: 20px 1px 1px 1px;
	border-radius: 10px;
}*/


.socialIcons{
	height:1.5em;
}



#copyright {
	font-family: "Helvetica Neue"
	color: #5D252A;
	font-size:.7em;

}

footer {
	display:block;
	text-align: center;
	position:relative;
	height:80px;
	bottom:0;
	right:0;
	left:0;
/*	background:rgba(255,255,255,0.8);*/
}


@media only screen and (min-width: 768px){
	#blurb{
	padding-left:15%;
	padding-right:15%;
}

	.myportrait{
		display:block;
		height:300px;
	}

	#photogallery{
		-moz-column-count:    2;
		-webkit-column-count: 2;
		column-count:         2;
	}
}

@media only screen and (min-width: 1000px){
	#blurb{
	width:50%;
	display:inline;
	float:left;
	padding-left:5%;
	padding-right:5%;
}

	#map{
		width:49%;
	}

	#maparea{
/*		float:right;*/
	}
	#photogallery{
		-moz-column-count:    4;
		-webkit-column-count: 4;
		column-count:         4;
	}
}

